.home_button{
    position:absolute;
    top: 715px; left: 35%;
   
    width:100px !important;
    display: table; text-align: center !important;

    transform: scale(3);
}
.home_button:not([disabled]):hover {
    background-color: rgba(158, 158, 158, 0.2);
  }