
<body>

    <div class="topnav">
        <a href="#home" class="active">PotOrNah</a>
       
        <div id="myLinks">
          
        </div>
       
        
      </div>
      
<div class="center">

    <div class="report">
    <mat-icon class="report_icon" mat-raised-button (click)="onButtonClick()" color="primary">report</mat-icon>
    </div>
  
    <div >
        <h1 class="displayString">{{displayString}}</h1>
    </div>
    <div>
  <mat-icon class="button1" (click)="goToPage('map')" >map</mat-icon> 
    </div>
    
    
</div>
</body>
  
